In [1]:
import pandas as pd
import seaborn as sns
from my_functions import parallelize_dataframe, do_work

In [2]:
df = pd.DataFrame(sns.load_dataset('iris'))
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df_out = parallelize_dataframe(df, do_work, col_subsets=[['sepal_length','sepal_width'],['petal_length','petal_width']])

In [4]:
df_out.head(10)

,sepal_length,sepal_width,sepal_length_squared,sepal_length_sqrt,sepal_width_squared,sepal_width_sqrt,petal_length,petal_width,petal_length_squared,petal_length_sqrt,petal_width_squared,petal_width_sqrt
0,5.1,3.5,26.01,2.258318,12.25,1.870829,1.4,0.2,1.96,1.183216,0.04,0.447214
1,4.9,3.0,24.01,2.213594,9.00,1.732051,1.4,0.2,1.96,1.183216,0.04,0.447214
2,4.7,3.2,22.09,2.167948,10.24,1.788854,1.3,0.2,1.69,1.140175,0.04,0.447214
3,4.6,3.1,21.16,2.144761,9.61,1.760682,1.5,0.2,2.25,1.224745,0.04,0.447214
4,5.0,3.6,25.00,2.236068,12.96,1.897367,1.4,0.2,1.96,1.183216,0.04,0.447214
5,5.4,3.9,29.16,2.323790,15.21,1.974842,1.7,0.4,2.89,1.303840,0.16,0.632456
6,4.6,3.4,21.16,2.144761,11.56,1.843909,1.4,0.3,1.96,1.183216,0.09,0.547723
7,5.0,3.4,25.00,2.236068,11.56,1.843909,1.5,0.2,2.25,1.224745,0.04,0.447214
8,4.4,2.9,19.36,2.097618,8.41,1.702939,1.4,0.2,1.96,1.183216,0.04,0.447214
9,4.9,3.1,24.01,2.213594,9.61,1.760682,1.5,0.1,2.25,1.224745,0.01,0.316228