In [1]:
import pandas as pd
import seaborn as sns
# need to import your functions from a file to be picked up properly by multiprocessing
from my_functions_zip import parallelize_dataframe, do_work

In [2]:
# get some data
df = pd.DataFrame(sns.load_dataset('iris'))
print(df.shape)
df.head()

(150, 5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
# define what subsets we want to parallelize by (e.g. treat 'sepal' and 'petal' seperate).
my_col_subsets = [['sepal_length','sepal_width'],['petal_length','petal_width']]
# define list of kwargs to be passed to each subset if want custom args for each subset df
my_kwargs_list = [{'multiply_by':100},{'multiply_by':0.5}]
df_out = parallelize_dataframe(df, do_work, col_subsets=my_col_subsets, kwargs_list=my_kwargs_list)

In [4]:
# df_out now has extra cols from the do_work() function.
print(df_out.shape)
df_out.head(5)

(150, 8)

,sepal_length,sepal_width,sepal_length_output,sepal_width_output,petal_length,petal_width,petal_length_output,petal_width_output
0,5.1,3.5,51.0,35.0,1.4,0.2,0.70,0.1
1,4.9,3.0,49.0,30.0,1.4,0.2,0.70,0.1
2,4.7,3.2,47.0,32.0,1.3,0.2,0.65,0.1
3,4.6,3.1,46.0,31.0,1.5,0.2,0.75,0.1
4,5.0,3.6,50.0,36.0,1.4,0.2,0.70,0.1